{% extends 'main.html' %}

{% block content %}
    <main>
        <section>
            <h1>Contact Us</h1>
            <p>If you have any questions or need further information, please feel free to reach out to us:</p>
            <address>
                <p>Email: bank@yb.com</p>
                <p>Phone: (123) 456-7890</p>
                <p>Address: 1234 Bank Street, Financial City, FC 56789</p>
            </address>
        </section>
    </main>
    {% endblock content %}

