{% extends 'main.html' %}

{% block content %}
<div class="container">
    <section id="about">
        <h2>About Our Bank</h2>
        <p>Welcome to YB, where your financial well-being is our priority. We offer a range of services to meet all your banking needs. Trust, reliability, and customer satisfaction are at the heart of everything we do.</p>
    </section>

    <section class="cta-buttons">
        <a href="home">Create Account</a>
        <a href="validate_pin">Login</a>
    </section>
</div>
{% endblock content %}